:root {
  --background-color: #2a9d8f;
  --nav-background-color: #264653;
  --primary-color: #e9c46a;
  --secondary-color: #f4a261;
  --title-color: #e76f51;
  --principal-font: "Noto Sans", sans-serif;
  --title-font: "Bree Serif", serif;
}

* {
  font-family: var(--principal-font);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-body-tertiary {
  background-color: #264653 !important;
}

.bg-light {
  background-color: var(--nav-background-color) !important;
}

.nav-item a,
.title {
  color: var(--primary-color) !important;
  display: flex;
  justify-content: center;
}

.navbar__logo {
  width: 90px;
  margin-left: 20px;
}

.material-symbols-outlined {
  color: #e9c46a;
}

.title {
  margin-top: 18px;
  font-family: var(--title-font);
  font-weight: bold;
  text-shadow: 0 0 10px black;
  font-size: 50px;
}

.subtitle,
.subtitle__p {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  align-items: center;
}

.about__description {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.fair_img {
  width: 100%;
}

.card__index {
  margin-left: 10px;
  margin-right: 10px;
}

.card__index .card-img-top {
  height: 300px;
}

.card__schedule{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}


.card__schedule .card-img-top{
  width: 100%;
  height: 300px;
}


.card-title,
.card-text {
  text-align: center;
}

.col__btn {
  position: absolute; 
  top: 50%;            
  left: 50%;           
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 60px; 
  border: none;   
}

.col__btn:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-title{
  color: var(--title-color);
}

.modal-content, .modal-title{
  text-align: center;
}
